---
title: Template One
type: page
layout: default.hbs
---

{{> partial-header }}
<main>
	{{!-- {{> partial-streamer }} --}}
	{{> partial-products }}
	{{!-- {{> partial-about }} --}}
	{{> partial-visual }}
	{{> partial-products }}
	{{!-- {{> partial-pricelist }} --}}
	{{> partial-visual }}
	{{> partial-gallery }}
	{{> partial-streamer }}
	{{> partial-content }}
	{{> partial-visual }}
	{{> partial-video }}
	{{> partial-address }}
	{{> partial-contactform }}

</main>
{{> partial-footer }}

