---
title: Template One
type: page
layout: default.hbs
---

{{> partial-header }}
<main>
	{{!-- {{> partial-streamer }} --}}
	{{!-- {{> partial-about }} --}}

	
	{{!-- {{> partial-pricelist }}
	{{> partial-visual }} --}}
	{{> partial-single }}
	{{> partial-masonry }}
	{{!-- {{> partial-gallery }} --}}
	{{> partial-single }}
	{{> partial-products }}
	{{> partial-visual }}
	{{> partial-streamer }}
	{{!-- {{> partial-pricelist }} --}}
	{{!-- {{> partial-content }} --}}

	{{!-- {{> partial-video }} --}}
	{{> partial-address }}
	{{> partial-contactform }}
	{{> partial-visual }}
</main>
{{> partial-footer }}

