---
title: Responsive preview
type: page
layout: default.hbs
---

<div class="preview-buttons">
    <button class="preview-btn preview-phone-btn" data-width="375" data-height="667"><i class="md md-phone-iphone"></i></button>
    <button class="preview-btn" data-width="768" data-height="1024"><i class="md md-tablet-mac"></i></button>
    <button class="preview-btn" data-width="100%" data-height="100%"><i class="md md-laptop-mac"></i></button>
</div>

<iframe src="onepage.html" id="preview" frameborder="0"></iframe>