<section class="section section-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="h2">Wanna say hello?<small>Drop by or drop us a line.</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				{{> partial-map }}
				<div class="row">
					<form id="contact" class="" role="form">
						<div class="col-sm-12">
							<div class="successContent">
								<i class="fa fa-check"></i>Your message has been sent successfully.
							</div>
							<div class="errorContent">
								<i class="fa fa-exclamation-circle"></i>There was a problem validating the form please check!
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Naam" required="required" maxlength="30">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required="required" maxlength="30">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Onderwerp" required="required" maxlength="50">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<textarea class="form-control" id="message" name="message" placeholder="Bericht" value="" required="required" rows="6" maxlength="100" data-validation-required-message="Please enter a message."></textarea>
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" id="form-submit" name="submit" class="button">verstuur</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>