<section class="section address contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="h2">Visit us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 text-center">
				<div class="icon"><i class="fa fa-map-o" aria-hidden="true"></i></div>
				<h4 class="h4">Address</h4>
				<p class="paragraph">Gasthuisstraat 48, 2011 XP Haarlem, The Netherlands
				</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 text-center">
				<div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
				<h4 class="h4">Openingstijden</h4>
				<p class="paragraph">
					Ma t/m Vr 8.00 - 18.00<br />
					Zaterdag 8.00 - 17.30<br />
					Zondag 10.00 - 17.00
				</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 text-center">
				<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
				<h4 class="h4">Contact</h4>
				<p class="paragraph">
					E-mail : <a href="#">yourname@domain.com</a><br />
					Bellen : +40 (0) 012 345 6789
				</p>
			</div>
		</div>
	</div>
</section>