<section class="section section-grey wow fadeIn" data-wow-duration=".5s" data-wow-delay=".25s">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="h2">Say hi<small>Drop by or drop us a line</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{{> partial-map }}
				<div class="row">
					<form id="contact">
						<div class="col-sm-12">
							<div class="successContent">
								<i class="fa fa-check"></i>Your message has been sent successfully.
							</div>
							<div class="errorContent">
								<i class="fa fa-exclamation-circle"></i>There was a problem validating the form please check!
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name">Naam</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="Naam" required="required" maxlength="30">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required="required" maxlength="30">
							</div>
							<div class="form-group">
								<label for="subject">Onderwerp</label>
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Onderwerp" required="required" maxlength="50">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="message">Bericht</label>
								<textarea class="form-control" id="message" name="message" placeholder="Bericht" required="required" rows="7" maxlength="100" data-validation-required-message="Please enter a message."></textarea>
							</div>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" id="form-submit" name="submit" class="button">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>