<section class="section section-grey about">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h2 class="h2">A cafe and bakery in&nbsp;Heemstede<small>Donec quam felis, ultricies nec</small></h2>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                </p>
            </div>
        </div>
    </div>
</section>