<section class="section section-line products">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h2 class="h2">Prices.<small>Checkout our latest products.</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 text-center column">
				<div class="prices">
					<div>
						<div>Populair</div>
						<div>
							<span class="">&euro;</span>
							<span class="">60</span>
							<span class="">/pm</span>
						</div>
					</div>
					<ul>
						<li>512MB Memory</li>
						<li>3 Users</li>
						<li>5 Websites</li>
						<li>7 Domains</li>
						<li>Unlimited Bandwidth</li>
						<li>24/7 Support</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>