<div class="visual-bar visual-bar-fixed visual-bar-blend wow fadeIn" data-wow-duration=".5s" data-wow-delay=".25s" style="background-image: url(assets/img/visual.jpg)">
    <div class="container visual-bar-inner">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                 <h3>Some of my recent projects</h3>
            </div>
        </div>
    </div>
</div>