<section class="section section-line" style="display: none;">
	<div class="container">
		{{!-- <div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="h2">Surf up.</h2>
			</div>
		</div> --}}
		
		{{!-- <div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
				<hr>
			</div>
		</div> --}}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h2 class="h2">I design meaningful visual identities and authentic digital experiences.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
				<div class="img-container img-ratio-1-1 illustration"><img src="https://static1.squarespace.com/static/57813ef759cc687a7d606e9c/t/57968ebd29687f433936510d/1469484738126/?format=500w" class="img-responsive"></div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">
				
				<p class="paragraph">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>

			
		</div>
	</div>
</section>
<section class="section section-line about wow fadeIn" data-wow-duration=".5s" data-wow-delay=".25s">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
				<div class="img-container img-ratio-1-1 illustration">
					<img src="assets/img/watch.jpg" class="img-responsive">
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
				<h2 class="h2">Detailed Analytics<small>Search Engine</small></h2>
				<p class="paragraph">
					Lorem ipsum dolor <wbr>HALLO sit amet, consectetuer adipiscing elit. <wbr>BLAAT Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="section wow fadeIn" data-wow-duration=".5s" data-wow-delay=".25s">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 text-center">
				<h2 class="h2">Affordable prices.<small>Select something that suits you.</small></h2>
				<p class="paragraph">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
				<div class="img-container img-ratio-1-1 illustration">
					<img src="assets/img/watch.jpg" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>