<section id="preloader">
	<div class="site-spinner"></div>
</section>
<header class="header clearfix">
	<div class="toggle-nav"><i class="md-menu"></i></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="logo">{{site.title}}</div>
				<nav class="navbar">
					<button class="toggle-nav close-nav"><i class="md-close"></i></button>
					<ul>
						<li><a class="scroll-to" data-level="about">About</a></li>
						<li><a class="scroll-to" data-level="gallery">Gallery</a></li>
						<li><a class="scroll-to" data-level="address">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="hero hero-overlay hero-blend2" style="background-image: url(http://www.want.nl/wp-content/uploads/2013/08/Triumph-Bonneville-Scrambler-want-3.jpg); background-position: top center;">
	{{!-- IF SLIDESHOW --}}
	{{!-- <div class="background_cycler">
		<div class="slide-1 active" style="background-image: url(assets/img/01.jpg);"></div>
		<div class="slide-2" style="background-image: url(assets/img/02.jpg);"></div>
		<div class="slide-3" style="background-image: url(assets/img/03.jpg);"></div>
	</div> --}}
	{{!-- If client has video --}}
	{{!-- <div class="hero-video">
		<video loop="true" autoplay="true" muted="muted" poster="http://www.mogadorcafe.nl/wp-content/uploads/BG_01.jpg">
			<source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4" type="video/mp4">
				Your browser does not support the video tag.
		</video> 
	</div> --}}
	<div class="container hero-inner">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<img src="assets/img/logo.svg" class="img-logo">
				{{!-- <img src="https://dummyimage.com/600x600/eee/fff.png" alt="John Doe" class="img-profile img-circle">
				<h1 class="hero-h1">John Brown.</h1>
				<p class="hero-first-line">{{site.intro}}</p>
				<p class="hero-second-line">{{site.intro}}.</p> --}}
				{{!-- <a href="#" class="button button-rounded scroll-to" data-level="about">Meer</a> --}}
			</div>
		</div>
	</div>
	<a class="button button-more button-outline-white scroll-to" data-level="about">Read more</a>
</div>

