<section class="section gallery wow fadeIn" data-wow-duration=".5s" data-wow-delay=".25s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="h2">Gallery{{!-- .<small>Checkout our latest products.</small> --}}</h2>
                <div id="gallery-mansory">
                    <div class="item" data-order="0">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/0f21edde2aaaac7a2d19f608ad72d357/tumblr_n1o9dejqYP1qev340o1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="1">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/5b3b71db1a03233ea5acc5a3c006904b/tumblr_o3r4biqFfs1uf48l3o1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="2">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://65.media.tumblr.com/7f342b18adc0146a157a9ada7dfd09ce/tumblr_noy3t4cOJ31sqtu3so1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="3">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/72acbdb12b971f67277ac064b1921e50/tumblr_o72rnrf0hC1uvg4mdo1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="4">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/bc07f043d1fd98b30f8937d3b752ba77/tumblr_o8g8wbb8U51rpwhvdo1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="5">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://66.media.tumblr.com/b0ace16d286477a93e044af43f5cf9f0/tumblr_o7v2zfuXms1tkup1jo1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="6">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/bf124c4027560990b2b3f823db760f91/tumblr_nkeu069TRE1rivnsyo1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="7">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://66.media.tumblr.com/6d4af5e2dfe29162bc2ec05e7c54ada8/tumblr_nt7b9yYbJE1rivnsyo1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                    <div class="item" data-order="8">
                        <a href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" class="fancybox" rel="gallery" title="Title goes here">
                            <img src="assets/img/pixel.gif" data-src="http://67.media.tumblr.com/a6f07ab15bd45ebfa9b0c1f3c9e813b2/tumblr_o537nxsQ7c1twb0n0o1_500.jpg" class="img-responsive lazyload">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>