.button{
	padding: 25px 40px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	white-space: nowrap;
	text-shadow: none;
	display: inline-block;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	font-family: $font-1;
	border-width: 2px;
	border-color: $link-color;
	border-style: solid;
	background: $link-color;
	color: #fff;

	

	&:active, &:focus{
		color: #fff;
	}

	&:hover{
		background: #fff;
		color: $link-color;
		padding: 25px 50px;
	}

	@media all and(max-width: $breakpoint-tablet){
		padding: 20px 30px;
		font-size: 13px;

		&:hover{
			padding: 20px 40px;
		}
	}

	&-reversed{
		border-color: $link-color;
		background: transparent;
		color: $link-color;
	}

	&-rounded{
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
	}

	&-small{
		font-size: 12px;
	}

	&-margin-left{
		margin-left: 10px;
	}

	& i{
		font-weight: normal;
		margin-right: 5px;
		line-height: 0;
	}

	&-white, &-white:visited, &-white:active{
		background-color: #fff;
		color: $link-color;
		border-width: 2px;
		border-color: #fff;

		&:hover{
			background-color: #fff;
			// color: $link-color;
		}
	}

	&-outline-white{
		background: transparent;
		color: #fff;
		border-width: 2px;
		border-color: #fff;
		border-style: solid;

		&:hover{
			background-color: #fff;
			color: $link-color;
		}
	}
}

.back-to-top{
	background-color: $color-3;
	width: 100%;
	border: none;
	color: $link-color;
	padding: 20px 0;
	line-height: 1;
	font-size: 20px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;

	&:hover{
		background-color: $link-color;
		color: $color-3;
	}
}