.form-group{
	margin-bottom: 22px;
}
.form-control{
	font-family: $font-2;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: $color-2;
	border-color: $form-border-color;
	padding: 12px 12px;
	height: auto;
	-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

	&:focus{
		border-color: $color-1;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.successContent, .errorContent{
	text-align: center;
	margin-bottom: 30px;
	display: none;
	font-size: 18px;

	& i{
		margin-right: 10px;
	}
}

.errorContent{
	color: #c0392b;
}

.successContent{
	
}

.form-group .error{
	border-color: #c0392b;
}

label.error{
	color: #c0392b;
	font-family: $font-1;
	font-size: 14px;
	margin-top: 10px;
	text-transform: uppercase;
}