.section{
	padding: $section-padding 0;
	background: $section-color;

	&-grey{
		background: $section-grey-color;
		color: $alt-color-1;

		& .h2{
			color: $alt-color-1 !important;

			& small{
				color: $alt-color-1 !important;
			}
		}
	}

	&-dark{
		background: $section-dark-color;
	}

	&-line{
		border-bottom: 1px solid $line-color;
	}
}

.column{
	@media all and(max-width: $breakpoint-tablet){
		margin-bottom: 40px;
	}
}
.no-padding{
	padding: 0;
}