#preloader {
    background-color: $section-color;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999999;
}

.site-spinner {
    border: 3px solid $section-color;
    bottom: 0;
    font-size: 44px;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: site-spin 1s linear infinite;
    -moz-animation: site-spin 1s linear infinite;
    animation: site-spin 1s linear infinite;
    border-top-color: $color-1;
}

@-webkit-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}