body, html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	cursor: default;
	background: #fff;
	font-weight: 400;
	font-size: $font-size;
	font-family: $font-2;
	color: $color-2;
	height: 100%;
	background: $section-color;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
	position: relative;

	@media all and (max-width: $breakpoint-mobile){
		font-size: $font-size-mobile;
	}
}


::-moz-selection { color: #fff; background: $color-2;}
::selection { color: #fff; background: $color-2; }


a, a:active, a:focus{
	outline: none;
	text-decoration: none;
}

a{
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;

	&:hover{
		text-decoration: none;
		color: $link-color;
	}

	color: $link-color;
}



.h2{
	font-family: $font-1;
	color: $color-2;
	font-weight: 700;
	font-size: 32px;
	margin-top: 0;
	line-height: 1.2;
	letter-spacing: 3px;
	margin-bottom: 50px;
	text-transform: uppercase;

	& small{
		display: block;
		font-family: $font-2;
		color: $color-1;
		font-size: 15px;
		// text-transform: none;
		margin: 15px 0 0;
		letter-spacing: 1px;
		line-height: 1.5;
	}

	&:after{
		display: block;
		content: "";
		width: 50px;
		height: 3px;
		background-color: $color-2;
		margin-top: 30px;
	}

	@media all and(max-width: $breakpoint-mobile){
		font-size: 23px;
	}
}

.text-center h2:after{
	margin: 30px auto 0;
}

.text-right h2:after{
	margin: 30px 0 0 calc(100% - 50px);
	// float: right;
}

.section-grey{

	.h2{
		color: $alt-color-1;

		& small{
			color: $alt-color-2;
		}
	}

	.h2:after{
		background-color: $alt-color-1;
	}
}

.section-dark{

	.h2{
		color: $alt-color-1;

		& small{
			color: $alt-color-2;
		}
	}
}

.h3{
	font-family: $font-1;
	color: $color-1;
	// font-weight: 700;
	font-size: 28px;
	margin-bottom: 30px;
	line-height: 1.4;
}

.h4{
	color: $color-1;
	font-family: $font-1;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}

.paragraph{
	font-family: $font-2;
	line-height: 2;
	margin-bottom: 30px;
	padding: 0;

	& a{
		text-decoration: underline;
	}

	& a:hover{
		color: $color-2;
	}

	& li{
		list-style-position: inside;
	}


}

.streamer{
	background: $streamer-bg-color;
	padding: 70px 0;
	color:$streamer-text-color;
	font-family: $font-1;
	font-weight: 400;
	font-size: 20px;

	& .button-inline{
		margin-left: 10px;
	}

	& .small{
		font-size: 18px;
		font-family: $font-2;
		margin-top: 5px;
		// font-style: italic;
	}

	& p{
		margin-bottom: 0;
	}

	@media all and(max-width: $breakpoint-mobile){
		font-size: 17px;
		// padding: 30px 0;

		& .small{
			font-size: 14px;
		}
	}
}

.address{

	& i{
		font-size: 30px;
		margin-bottom: 30px;
	}

	& a{
		font-weight: bold;
	}
}

hr{
	margin: 70px 0;
	border-color: $line-color;
}

.pricelist{
	font-family: $font-1;
	padding: 30px 0;
	text-align: center;
	background-color: $section-color;
	border: 1px solid rgba(23, 61, 80, 0.06);

	&-cat{
		// color: $color-1;
		text-transform: uppercase;
		margin-bottom: 10px;

		&-title{
			font-size: 20px;
			font-weight: bold;
		}
		&-price{
			font-size: 60px;
			vertical-align: baseline;

			& .amount{
				display: inline-block;
			}

			& .currency{
				font-size: 18px;
				vertical-align: text-top;
				margin-top: 10px;
				display: inline-block;
			}

			& .duration{
				font-size: 15px;
				display: inline-block;
			}
		}
	}
	& ul{
		margin: 0 0 15px;
		padding: 0;
		font-size: 14px;
		font-family: $font-2;
		
	}
	& li{
		list-style-type: none;
		padding: 10px;

		&:nth-child(odd){
			background-color: rgba(23, 61, 80, 0.06);
		}
	}
}
