
// BREAKPOINTS
$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;


$hero-height: 100%;
$graphic-height: 40vh;

// FONTS
$font-size: 17px;
$font-size-mobile: 15px;
$font-1: 'Montserrat', serif;	// Headings
$font-2: 'Raleway', serif;		// Text
$font-logo: 'Merriweather', serif;	// Logo
$font-logo-size: 30px;
$font-logo-size-mobile: 20px;


// Text colors
$color-1: #1f2232; // Headers
$color-2: #1f2232; // Text color

$alt-color-1: #1f2232; // Color of heading in grey section
$alt-color-2: #1f2232; // Color of subheading in grey section
$alt-color-3: #1f2232; // Color of subheading in grey section

$link-color: #2d3a3a; // Link color
$line-color: #eef4f4; // Border color

// FORMS
$form-border-color: #eef4f4;

// STREAMER
$streamer-bg-color: #eef4f4;
$streamer-text-color: #1f2232;

// Footer
$color-3: #eef4f4; // Footer background color
$color-4: #1f2232; // Footer text color

// Section Light or Dark
$section-color: #fff;	// Background-color of blocks
$section-grey-color: #eef4f4;
$section-dark-color: #333333;
$section-padding: 120px;
