$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$font-1: 'Montserrat', serif;	// Headings
$font-2: 'Domine', serif;		// Text
$font-logo: 'Merriweather', serif;	// Logo

// Text colors

$color-1: #c0a15d; // Headers, links and buttons
$color-2: #2d1f12; // Text color

// Footer

$color-3: #2d1f12; // Footer background color
$color-4: #c0a15d; // Footer text color

// Section Light or Dark

$section-color: #fff;	// Background-color of blocks

